* {
  margin: 0;
  padding: 0;
}

.container h1 {
  text-align: center;
  padding: 18px 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/pink_flowers.jpg");
  background-size: cover;
  background-position-y: 50%;
}
